<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="Test1">
    <classes>
      <class name="ca.expedia.SeleniumTests.Tests.StaysTest"/>
      <class name="ca.expedia.SeleniumTests.Tests.FlightsTest"/>
      <class name="ca.expedia.SeleniumTests.Tests.CarsTest"/>
      <class name="ca.expedia.SeleniumTests.Tests.VacationTest"/>
      <class name="ca.expedia.SeleniumTests.Tests.AllInclusiveTest"/>
      <class name="ca.expedia.SeleniumTests.Tests.ThingsToDoTest"/>
      <class name="ca.expedia.SeleniumTests.Tests.CruisesTest"/>
    </classes>
  </test>  
</suite>